* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid blue;
    padding: 10px;
    width: 100%;
    min-width: 400px;
}